@import './index'

#date-pickerID
    margin-left: 4%

form[name="form01"] .error
    color: red

.container
    margin 0 auto
    width: 100%
    max-width 1470px

    .content
        margin 0 auto
        width: 100%
        max-width 980px